Repository w3c/sdw-sosa-ssn, pull requests merged in 2023-12, with the labels that each got.

#119 Add `observationType` and `hasQualityMeasurement`
  ssn/index.html
  ssn/integrated/sosa-oms.ttl
Labels: sosa-oms-alignment

#126 Proposed implementation of #106
  ssn/index.html
  ssn/integrated/sosa.ttl
  ssn/integrated/ssn.ttl
Labels: property

#133 Namespaces and graphs
  ssn/config.js
  ssn/index.html
  ssn/integrated/sosa.ttl
  ssn/integrated/ssn.ttl
Labels: namespaces, graphs

#135 Added missing description of PreparationProcedure
  ssn/index.html
Labels: sosa-oms-alignment, documentation

#134 Move Collections definitions and axioms into SOSA and SSN graphs
  ssn/examples/01-observation-collection.ttl
  ssn/examples/02-homo-vs-summar-collection.ttl
  ssn/examples/2017ex22.ttl
  ssn/fragments/axioms-for-diagram.ttl
  ssn/fragments/collections.ttl
  ssn/images/SOSA-Collections.png
  ssn/index.html
  ssn/integrated/sosa-oms.ttl
  ssn/integrated/sosa.ttl
  ssn/integrated/ssn.ttl
Labels: sosa-oms-alignment, ssn-ext, documentation, collections

#136 Move subclass axioms to SSN-OMS graph
  ssn/index.html
  ssn/integrated/sosa-oms.ttl
  ssn/integrated/ssn-oms.ttl
Labels: sosa-oms-alignment, OWL
